version: '3.4'
services:
  client:
    build:
      context: docker
      target: bazel
      args:
        BAZEL_VERSION: {{BAZEL_VERSION}}
    image: bazel-client:latest
    command: >
      sh -c
      "/usr/local/bin/bazel build
      --remote_instance_name=remote-execution
      --remote_default_exec_properties=OSFamily=linux
      --remote_executor=grpc://frontend:8980 ${BAZEL_ARGS}
      @abseil-hello//:hello_main"
    volumes:
    - ./WORKSPACE:/WORKSPACE
