<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    {{ $styles := (resources.Get "scss/main.scss") | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ if (fileExists "assets/scss/custom.scss") }}
        {{ $styles := (resources.Get "scss/custom.scss") | toCSS | minify }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}
</head>
<body class="{{ block "body_class" . }} {{ end }}">
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
</body>
</html>